
/gdsl
/src/pipeline.gdsl
/src/
.idea/workspace.xml
.idea/discord.xml
.idea/modules.xml
.idea/QA-Help-Queue-App.iml
.idea/vcs.xml

.gitignore
**/*.properties
**/node_modules/*
**/bin/*
**/target/
**/backend/CreateTicket/target/**
