.App {
  text-align: center;
}

#newestBtn{
  display: grid;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

#oldestBtn{
  display: grid;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

#ascBtn{
  display: grid;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

.mostUrgIc{
  color: crimson;
}

.secMostUrgIc{
  color: darkorange;
}

.middleUrgIc{
  color: gold;
}

.secLeastUrgIc{
  color: greenyellow;
}

.leastUrgIc{
  color: darkgreen;
}

.completedIc{
  color: green;
}

.uncompletedIc{
  color: crimson;
}

.column_one{
  float: left;
  display: grid;
}

.column_two{
  float: right;
  display: grid;
}


.ticket_comp{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.create_ticket_div{
  float: left;
  margin-top: 20px;
  padding: 30px;
  background-color: #61dafb;
}

.toggle_div{
  float: right;
  margin-top: 20px;
  padding: 30px;
  background-color: red;
  margin-left: auto;
}

.sort_div{
  float: left;
  margin-top: 50px;
  padding: 30px;
  background-color: aqua;
}

.filter_div{
  float: left;
  margin-top: 100px;
  padding: 30px;
  background-color: blue;
}

.queue_div{
  float: right;
  margin-top: 50px;
  padding: 30px;
  background-color: beige;
}

.App-link {
  color: #61dafb;
}